# Byte-compiled / optimized / DLL files
__pycache__/

# Local development settings
.env

# IDE files
.vscode/
.idea/
.ruff_cache/
.pytest_cache
.venv
CLAUDE.md
# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Compiled Python files
*.pyc

# Logs
*.log
test.csv
.python-version