# Byte-compiled / optimized / DLL files
__pycache__/

# Local development settings
.env

# IDE files
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Compiled Python files
*.pyc

# Logs
*.log
